.git
.github
.DS_Store
**/.DS_Store

node_modules
packages/*/node_modules

dist
packages/*/dist
packages/frontend/.vite
packages/frontend/node_modules/.vite

coverage
.cache
.temp

data
packages/backend/data
packages/backend/uploads
packages/backend/temp-uploads
*.db
*.log

docker-images
*.tar
*.tar.gz

doc
docs
patches

packages/remote-gateway

README.md
LICENSE
